.auth-page {
min-height: 100vh;
display: grid;
grid-template-columns: 1fr 1fr;
background: #050a14;
color: white;
overflow: hidden;
}

.auth-left {
display: flex;
align-items: center;
min-height: 100vh;
padding: 4rem 4rem 4rem 5rem;
background:
radial-gradient(circle at center,
rgba(225, 16, 72, 0.15),
transparent 60%);
}


.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.logo-icon {
  width: 52px;
  height: 52px;

  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #e11048;

  color: white;
  font-size: 1.3rem;
}

.logo h2 {
  margin: 0;

  color: white;

  font-size: 3rem;
  font-weight: 700;

  line-height: 1;
}
.brand {
  max-width: 760px;


  h1 {
  font-size: 3.8rem;
  line-height: 1.05;
  font-weight: 700;
  margin-bottom: 2rem;

    span {
      color: #e11048;
    }
  }

  p {
    color: #a7b0c0;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 3rem;
  }
}

.features {
display: flex;
flex-direction: column;
gap: 1.25rem;

div {
color: white;
font-weight: 500;
}
}

.auth-right {
display: flex;
justify-content: center;
align-items: center;
padding: 3rem;
 min-height: 100vh;
}

.form-container {
  width: 100%;
  max-width: 480px;

  padding: 2.25rem;

  border-radius: 20px;

  background: rgba(8, 13, 24, 0.75);
  border: 1px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(18px);

  h1 {
    font-size: 3rem;
  margin-bottom: 0.75rem;
  }
}

form {
display: flex;
flex-direction: column;
gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  label {
    color: white;
    font-size: 1rem;
    font-weight: 600;
  }

  input {
    width: 100%;
    height: 50px;

    padding: 0 18px;

    border-radius: 12px;

    border: none;

    background: #ffffff;
    color: #111;

    font-size: 16px;

    outline: none;
    box-sizing: border-box;
  }
}

.primary-button {
  width: 100%;

  height: 50px;

  border: none;

  border-radius: 14px;

  background: #e11048;

  color: white;

  font-size: 1.1rem;
  font-weight: 700;

  cursor: pointer;

  transition: 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.form-container p {
color: #c7c7c7;

a {
color: #e11048;
text-decoration: none;
font-weight: 600;
}
}

@media (max-width: 1024px) {
.auth-page {
grid-template-columns: 1fr;
}

.auth-left {
display: none;
}

.form-container {
max-width: 450px;
}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #111;
}
